@import "./var";

.header {
  background-color: white;
  padding: 20px 0px;
  box-shadow: 0px 4px 14px rgba(105, 105, 105, 0.2);
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999999999999999;
  transition: background-color 0.3s, backdrop-filter 0.3s,
    box-shadow 0.3s ease-in-out;

  &.active {
    backdrop-filter: saturate(180%) blur(10px);
    background: hsla(60, 100%, 95%, 0.88);
    box-shadow: 0px 10px 20px rgba(20, 20, 20, 0.3);
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    &__logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 30px;
      text-transform: uppercase;
      color: $color-blue;
      text-shadow: 2px 2px 2px rgba(11, 1, 43, 0.3);
      font-weight: 600;

      span {
        display: flex;
        img {
          max-width: 40px;
        }
      }
    }
    &__search {
      max-width: 700px;
      width: 100%;
      input {
        display: block;
        width: 100%;
        padding: 8px 20px 8px 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 18px;

        &::placeholder {
          color: #ddd;
        }
      }
    }
    &__btn {
      background-color: $color-blue;
      padding: 10px 20px;
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
      transition: background-color 200ms ease-in;

      &:hover {
        background-color: $color-blue-dark;
      }
    }
  }
}

.section-country {
  min-height: 80vh;
  padding: 70px 0px;
  background-color: white;

  .home-spinner {
    &.active {
      opacity: 1 !important;
      visibility: visible !important;
      pointer-events: all !important;
      z-index: 9999 !important;
    }
  }

  .block-country-items {
    &.hide {
      display: none;
    }
    .country-block {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      .country-item {
        box-shadow: 3px 3px 7px rgba(123, 123, 123, 0.2);
        border-radius: 5px;
        background-color: white;
        overflow: hidden;
        position: relative;

        .country-item-link {
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
        }

        .flag {
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          box-shadow: 0px 4px 5px rgba(119, 119, 119, 0.1);
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .country-body {
          padding: 24px 15px;
          display: flex;
          flex-direction: column;
          gap: 7px;
          h3 {
            color: darkgrey;
            font-size: 18px;
          }
        }
      }
    }
  }
  .error-block {
    padding: 20px 0px;
    display: none;
    &.active {
      display: block;
    }
    h2 {
      color: crimson;
      font-size: 34px;
    }
    .image-block {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      img {
        max-width: 600px;
        display: block;
      }
    }
  }
}
